<div class="calender_small">
    <div class="timeBar">
        <h5>Time Remaining:</h5>
    </div>
    <div class="timeBox">
        <div class="flexBox" style="display: none">
            <h6>Days</h6>
            <div class="center" id="days"></div>
        </div>
        
        <div class="flexBox">
            <div class="center" id="hours"></div>
            H
        </div>
        
        
        <div class="flexBox">
            <div class="center" id="minutes"></div>
            M
        </div>
        
        <div class="flexBox">
            <div class="center" id="seconds"></div>
            S
        </div>
        
    </div>
</div>