<div class="calender_small">
  <div class="timeBar">
    <h5>Time Remaining:</h5>
  </div>
    <div class="timeBox">
        <div class="flexBox" style="display: none">
            <h6>Days</h6>
            <div class="center" id="days"></div>
        </div>
        
        <div class="flexBox">
            <div class="center" id="hours"><%= time.hours %></div>
            H
        </div>
        
        
        <div class="flexBox">
            <div class="center" id="minutes"><%= time.minutes %></div>
            M
        </div>
        
        <div class="flexBox">
            <div class="center" id="seconds"><%= time.seconds %></div>
            S
        </div>
        
    </div>
</div>
<script>
    const _ = el => {
        return document.getElementById(el);
    }

    const seconds = _("seconds");
    const minutes = _("minutes");
    const hours = _("hours");
    const days = _("days");
    
    const Clear = () => {
      clearInterval(setSeconds);
      clearInterval(checkTime);
      document.location.replace(document.location.origin + "/thankyou");
    };
    const checkTime = setInterval(() => {
      if (
        seconds.innerText == 0 &&
        minutes.innerText == 0 &&
        hours.innerText == 0 &&
        days.innerText == 0
      ) {
        Clear();
      }
    }, 1000);
            
    
    const setSeconds = setInterval(() => {
      seconds.innerText = parseInt(seconds.innerText) <= 0 ? 59 : parseInt(seconds.innerText) - 1;
      if(parseInt(seconds.innerText) === 59) {
        minutes.innerText = parseInt(minutes.innerText) <= 0 ? 59 : parseInt(minutes.innerText) - 1;
        if(parseInt(minutes.innerText) === 59) {
          hours.innerText = parseInt(hours.innerText) <= 0 ? 23 : parseInt(hours.innerText) - 1;
          if(parseInt(hours.innerText) === 23) {
            days.innerText = parseInt(days.innerText) <= 0 ? 0 : parseInt(days.innerText) - 1;
          }
        }
      }
    }, 1000);
    </script>