<h1 class="title">The Counter</h1>
<div class="calender">
    <div>
        <h1 class="center">Days</h1>
        <div class="days center" id="days"></div>
    </div>
    <div>
        <h1 class="center">Hours</h1>
        <div class="hours center" id="hours"></div>
    </div>
    <div>
        <h1 class="center">Minutes</h1>
        <div class="minutes center" id="minutes"></div>
    </div>
    <div>
        <h1 class="center">Seconds</h1>
        <div class="seconds center" id="seconds"></div>
    </div>
</div>