<div class="calender">
    <div>
        <h3 class="center">Days</h3>
        <div class="days center" id="days"></div>
    </div>
    <div>
        <h3 class="center">Hours</h3>
        <div class="hours center" id="hours"></div>
    </div>
    <div>
        <h3 class="center">Minutes</h3>
        <div class="minutes center" id="minutes"></div>
    </div>
    <div>
        <h3 class="center">Seconds</h3>
        <div class="seconds center" id="seconds"></div>
    </div>
</div>