<%- include partials/header.ejs %>
<div class="container">
  <h1 class="center">iDecipher'19</h1>
  <%- include counter.ejs%>
  <div class="col-md-3 mx-auto text-center mt-5">
    <h3>Login</h3>
    <% if(err) { %>
      <div style="background-color: red; color: white"><%= err.msg %></div>
    <% } %>
    <form action="/login" method="POST">
      <div class="form-group">
        <label>Team Name</label>
        <input
          type="text"
          name="teamName"
          placeholder="Team Name"
          required
        />
      </div>
      <div>
        <label>Password</label>
        <input
          type="password"
          name="password"
          placeholder=" Enter password"
          required
        />
      </div>
      <button>Login</button>
    </form>
    <br />
    <p class="lead">Don't have an account</p>
    <a href="./signup" class="btn btn-outline-dark">Sign Up</a>
  </div>
</div>
<%- include partials/footer.ejs %>
