<%- include partials/header.ejs %>
    <div>    
        <h2 class="text-center">Rules of the event!</h2>
        <form action="/rules" method="POST">
            <div style="font-size: 20px; letter-spacing: 0.5px; padding: 50px">
                1. The event duration is 1 hour and 30 minutes. (No extra time will be
                given under any circumstances)
                <br>
                2. There will be a total of 20 questions.
                <br>
                3. There will be no negative marking for wrong answers.
                <br>
                4. Once a question is submitted/skipped, participant can’t revisit or
                change the answer of that question.
                <br>
                5. The team answering the maximum questions correctly will be the
                winner.
                <br>
                6. In case of a tie, the team answering the questions in minimum time
                will be considered as the winner.
                <br>
                7. The Team must be present at the venue. You are not allowed to
                register from outside the venue of the event.
                <br>
                8. Mobiles/Smart phones or any other communication devices are not
                allowed during the event. Using mobile/smart phones will lead to
                disqualification.
                <br>
                9. You will be disqualified if you are asking someone or any kind of
                communication (verbal or nonverbal) except with your teammate.
                <br>
                10. Internet can be used during the event to search. But you are not
                allowed to use any social media sites during the event.
                <br>
                11. Any kind of unusual behaviour leads to your disqualification.
                <br><br>
                <div class="alert alert-danger">
                    IMPORTANT: Under any circumstances, the decision taken by the
                    coordinators of the event will be considered as the final decision.
                    <br>
                </div>
                <% if(isVerified) { %>
                    <div class="d-flex justify-content-center">
                        <a href="/dashboard">
                            <button class="kave-btn">
                                <span class="kave-line">Go to Dashboard</span>
                            </button>
                        </a>
                    </div>
                <% } else { %>
                    <label for="">I have read all the instructions carefully, I agree for this compition.</label>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="switch1" required>
                        <label class="custom-control-label" for="switch1"></label>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="kave-btn">
                            <span class="kave-line">Submit</span>
                        </button>
                    </div>
                <% } %>
            </div>
        </form>
    </div>
<%- include partials/footer.ejs %>