<%- include partials/header.ejs %>
<div class="container">
  <nav>
      <div class="row">
          <img src="images/Webp.net-compress-image.png" class="logo" height="150px" width="150px">
          <div class="col-lg-8"></div>
          <img 
              src="http://ieee.daiict.ac.in/ieee2019/images/IEEESB.PNG" 
              class="ieee-logo" 
              alt="IEEE"
              height="80px" 
              width="200px"
          >
      </div>
  </nav>
  <%- include counter_small.ejs %>
  <h1>i.Decipher 2k19</h1>
  <h2 style="font-size: 40px; text-align: center">Sign Up</h2>
  <div>
    <% if(err) { %>
      <div style="background-color: red; color: white"><%= err.msg %></div>
    <% } %>
  </div>
    <form action="/signup" method="POST" style="font-size: 20px" class="d-flex flex-column align-items-center">
      <div>
        <label>Name1</label>
        <input 
          type="text"
          name="name1"
          placeholder="Enter name of the 1st Team Member"
          minlength="3"
          class="input"
          required
        >
      </div>
      <div>
        <label>Name2</label>
        <input 
          type="text" 
          name="name2" 
          placeholder="Enter name of the 2nd Team Member" 
          minlength="3"
          class="input"
          required
        >
      </div>
      <div>
        <label>Team Name</label>
        <input 
          type="text" 
          name="teamName" 
          placeholder="Team Name"
          minlength="3"
          class="input"
          required
        >
      </div>
      <div>
        <label>Email</label>
        <input 
          type="email"
          name="email"
          placeholder="Email"
          minlength="3"
          maxlength="255"
          class="input"
          required
        >
      </div>
      <div>
        <label>Contact Number</label>
        <input 
          type="tel"
          name="phone"
          placeholder="Conatact Number"
          maxlength="10"
          class="input" 
          pattern="[0-9]{10}" 
          required
        >
      </div>
      <div>
        <label>Password</label>
        <input
          type="password"
          name="password"
          placeholder="Password" 
          class="input"
          required
        >
      </div>
      <div class="nav-button d-flex flex-column justify-content-center align-items-center">
        <button type="submit" class="kave-btn">
          <span class="kave-line">Create Account</span>
        </button>
        <br>
        <br>
        <h5>Already hav e an account</h5>
        <a href="/login">
          <button class="kave-btn">
              <span class="kave-line">Login</span>
          </button>
        </a>
      </div>
    </form>
    <br>
    <br>
  </div>
<%- include partials/footer.ejs %>