<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/successStyle.css">
    <link rel="stylesheet" href="css/bootstrap3.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-1"></div>
            <div class="modalbox success col-sm-8 col-md-6 col-lg-5 center animate">
                <div class="icon">
                    <i class="material-icons left text-center" style="font-size: 60px; color: white; padding: 20px">done</i>
                </div>
                <h1>Success!</h1>
                <p>You are successfully register <br> for the event.</p>
                <a href="/rules">
                    <button type="button">
                        Ok
                    </button>
                </a>
                <br><br><br><br>
            </div>
        </div>
        <script src="js/three.r92.min.js"></script>
        <script src="js/vanta.waves.min.js"></script>
        <script>
            VANTA.WAVES({
                el: "*",
                color: 0x60607
            })
        </script>
        <script src="./js/jquery.js"></script>
    </div>
</body>
</html>