<%- include partials/header.ejs %>
    <div>
        <h1>Welcome To i.Decipher 2k19</h1>
        <%- include counter.ejs%>
        <h3>Here there should be an image of i.fest and i.decipher</h3>
        <a href="/signup">Enter</a>
    </div>
<%- include partials/footer.ejs %>